@font-face {
    font-family: 'MerriweatherLight';
    src: url(/resource/MerriweatherLight);
}

.search-and-currency-base-wrapper {
    display: flex;
    justify-content: center;
}

.search-and-currency-base {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    min-width: 18%;
}

.search-area {
    font-family: 'MerriweatherLight';
    --slds-c-input-color-background: whitesmoke;
    --slds-c-input-color-border: rgb(0, 0, 0);
    --slds-c-input-color-background-focus: rgb(255, 0, 0);
    --slds-c-input-color-border-focus: rgb(255, 0, 0);
    --slds-c-input-radius-border: 0.25rem;
    --slds-c-input-text-color: rgb(255, 0, 0);
    --slds-c-input-text-color-focus: rgb(0, 0, 0);
    --slds-c-input-shadow-focus: 0 0 3px #ff0000;
}

.reset-button-base {
    position: relative;
    top: 43%
}