.body {
    width: auto;
}

.language-switcher {
    position: fixed;
    right: 0;
    margin-top: 1%;
    margin-right: 1%;
}

.slds-checkbox_faux {
    --slds-c-checkbox-toggle-color-background: red !important;
    --slds-c-checkbox-toggle-color-border: red !important;
}

.slds-checkbox--faux {
    --slds-c-checkbox-toggle-color-background: red !important;
    --slds-c-checkbox-toggle-color-border: red !important;
}