.container {
    padding: 25px;
}
.model-name {
    text-align: center;
    color: #101715;
}
.slds-card__header-title {
    font-size: 25px;
}
.record-item {
    padding: 25px;
}
.record-image {
    text-align: center;
}

.slds-wrap {
    background-color: white;
}

.slds-box {
    padding: 0;
    margin: 5px;
    border-radius: 2px;
}

.search-layout-item {
    display: flex;
    justify-content: center;
    text-align: center;
}

.reset-layout-item {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 24px;
}

.search-area {
    display: flex;
    justify-content: center;
}