/*slider*/
@font-face {
    font-family: 'MerriweatherLight';
    src: url(/resource/MerriweatherLight);
}

.common {
    position: relative;
    width: auto;
    top: 10%;
}

.slider {
    position: relative;
    justify-content: center;
    display: flex;
}
.slider-visible {
    position: relative;
    justify-content: center;
    overflow: hidden;
    display: flex;
    width: 960px;
}

.slider-visible-mobile {
    position: relative;
    justify-content: center;
    overflow: hidden;
    display: flex;
    height: 320px;
}

.slider-content {
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.25s all ease-in;;
}

.slider-content-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.25s all ease-in;;
}

.card {
    width: 320px;
    height: 320px;
}

.record-info {
    transition: all 0.2s ease-out;
    font-family: 'MerriweatherLight';
    color: rgb(218, 218, 218);
    text-align: center;
    position: relative;
    bottom: 1%;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.record-info:hover > .record-price {
    mix-blend-mode: luminosity;
    background: rgb(255, 0, 0);

}

.record-price {
    border-radius: 1rem;
    width: 50%;
    left: 25%;
    transition: all 0.5s ease-out;
    position: relative;
    color: white;
}

.record-bottom {
    position: relative;
    width: 100%;
}

.record-model {
    color: white;
    position: relative;
}

.record-modal-info {
    color: white;
    position: relative;
    font-size: 12px;
    width: 50%;
    left: 25%;
}

.buttons-area {
    position: relative;
    justify-content: center;
    display: flex;
}

.buttons-area-space {
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 95%;
}

.move-button {
    margin: 10px;
}

.move-left-icon {
    mix-blend-mode: luminosity;
    border-radius: 1rem;
    transition: all 0.5s ease-out;
}

.move-left-icon:hover {
    background: black;
}

.move-right-icon {
    border-radius: 1rem;
    mix-blend-mode: luminosity;
    transition: all 0.5s ease-out;
}

.move-right-icon:hover {
    background: black;
}

.lineup-base {
    padding-top: 1.5%;
    display:flex;
    justify-content: center;
}

.lineup-text {
    font-family: 'MerriweatherLight';
    font-size: 15px;
    color: #5f5f5f;
    font-weight: 100;
}